body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #ffffff;
  letter-spacing: 0.02em;
}
.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
}

.header-logo-navy {
  color: #2e2f42;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
.header-menu-link {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.header-menu-link:hover,
:focus {
  color: #404bbf;
}
.header-contacts {
  font-style: normal;
}

.header-contacts-link {
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: #434455;
}
.header-contacts-link:hover,
:focus {
  color: #404bbf;
}
.hero-section {
  background-color: #2e2f42;
}
.hero-page-title {
  color: #ffffff;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}
.hero-section-btn {
  background-color: #4d5ae5;
  color: #ffffff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border: none;
}
.hero-section-btn:hover,
:focus {
  background-color: #404bbf;
}
.features-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
  letter-spacing: 0.02em;
}
.features-descr {
  line-height: 1.5;
}
.team-section {
  background-color: #f4f4fd;
}
.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.team-list-item {
  background-color: #ffffff;
}
.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.team-descr {
  line-height: 1.5;
}
.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portfolio-descr {
  line-height: 1.5;
}
.footer {
  background-color: #2e2f42;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
}
.footer-logo-navy {
  color: #f4f4fd;
}
.copyright-text {
  color: #f4f4fd;
  line-height: 1.5;
}
